<h2 class="ui center aligned icon header">
  <i class="circular teal users icon"></i>
  Users index
</h2>

<div class="ui cards centered aligned">
<% @users.each do |user|%>
  <div class="card">
    <div class="content">
      <div class="header"><%=user.name%> <%=user.lastname%></div>
      <div class="meta"><%=user.email%></div>
    </div>
  </div>
<%end%>
</div>

