<div class="ui divided">
  <%= form_for(@comment, url: create_comment_path, :html => {:class => "ui form"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: @comment %>

    <div class="ui fluid huge icon input">
      <%= f.text_field :content, placeholder: "Share your thoughts...", rows: 2 %>
      <i class="paper plane icon"></i>
    </div>
    <br>
  <% end %>
</div>