<div class="ui">
  <%= form_for(@comment, url: create_comment_path, :html => {:class => "ui form"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: @comment %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Comment", rows: 2 %>
    </div>
    <br>
    <div class="ui centered grid actions">
      <%= f.submit "Comment", class: 'medium ui teal basic button' %>
    </div>
    <br>
  <% end %>
</div>
