<div class="ui centered grid">
  <div class="ui secondary vertical text menu">
    <a class="item">
      <%= link_to 'Post index', posts_index_path %>
    </a>
    <a class="item">
      <%= link_to 'Users index', users_index_path %>
    </a>
    <a class="item">
      <%= link_to 'Create a post', new_post_path %>
    </a>
  </div>
</div>