<div class="ui centered grid">
  <div class="ui secondary vertical text menu">
    <div class="item">
      <%= link_to posts_index_path do %>
        <button class="ui basic teal button">
          <i class="home icon"></i>
          Home
        </button>
      <% end %>
    </div>
    <div class="item">
      <%= link_to users_index_path do %>
        <button class="ui basic teal button">
          <i class="users icon"></i>
          Users
        </button>
      <% end %>
    </div>
  </div>
</div>