<div>    
    <img class="logo"/>
</div>
<div class="right menu">
<div class="ui inverted inline form">
    <div class="three fields" style="margin:0.5em 0.5em 0.5em">
      <div class="field">
        <input placeholder="First Name" type="text">
      </div>
      <div class="field">
        <input placeholder="Last Name" type="text">
      </div>
      <div class="ui submit button">Login</div>
    </div>
  </div>
</div>
