<div class="right menu">
  <div class="ui right floated field">
  </div>
  <div class="ui equal width form">
    <div class=" middle aligned content">
      <div class="header">
        <%= link_to user_path(current_user) do %>
          <p class="ui inverted teal item"><%= current_user.name %> | <%= current_user.email %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ui inverted inline form relaxed">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class="ui inverted teal basic button" style="margin:0.5em 0.9em -0.9em">
        Sign out
      </div>
    <% end %>
  </div>
</div>