<div class="right menu">
  <div class="ui inverted inline form relaxed">
    <div class="ui button" style="margin:0.5em 0.9em -0.9em">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>