<div class="right menu">
  <div class="ui inverted inline form relaxed">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <div class="ui inverted teal basic button" style="margin:0.5em 0.9em -0.9em">
        Sign out
      </div>
    <% end %>
  </div>
</div>