<h4 class="ui center aligned medium icon header">
  <i class="circular pink users icon"></i>
  Welcome to Social Dulce app!
</h4>

<div class="ui centered relaxed four column grid">
  <div class="seven wide column pink"></div>
  <div class="seven wide column">
    <%= render 'shared/signup_form'%>
  </div>
</div>