<h4 class="ui center aligned medium icon header">
  <i class="circular teal users icon"></i>
  Welcome to Fakebook app!
</h4>

<div class="ui centered relaxed four column grid">
  <div class="seven wide column">
  </div>
  <div class="seven wide column">
    <%= render 'shared/signup_form'%>
  </div>
</div>