<h2 class="ui center aligned icon header">
  <i class="circular teal edit outline icon"></i>
  Edit your post
</h2>
<br>
<div class="ui container centered grid">
  <%= render "shared/postform", locals: { object: current_user, from: 'index' } %>
</div>
