<h2 class="ui center aligned icon header">
  <i class="circular teal folder open outline icon"></i>
  Posts index
</h2>

<div class="ui cards centered aligned">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="content">
        <%= post.content %>
        <br>
        <br>
        <div class="meta">Author: <%= post.author.name %> <%= post.author.lastname %></div>
      </div>
      <%= link_to post_path(post) do %>
        <div class="ui bottom attached button">
          <i class="envelope outline icon"></i>
          Open
        </div>
      <% end %>
    </div>
  <% end %>
</div>

