<div class="ui container">
  <h2 class="ui center aligned header">
      Create a Post 
      <i class="ui pencil alternate icon"></i>
  </h2>
</div>
<br>
<div class="ui container centered grid">
  <%= render "shared/postform", locals: { object: current_user } %>
  <%= render 'shared/columns'%>
</div>
